<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/style.css"></head>


    <body>
        <div class="headerr">
           {{>header}}
        <img class="portrait" src="img/pexels-pixabay-416920.jpg">
        </div>
       
        {{>footer}}
    </body>
</html>