<!DOCTYPE html>
<html>
    <head><title></title>
    
        <link rel="stylesheet" href="./css/style.css"></head>


    <body>
        <div class="headerr">
         {{>header}}
        <p>{{em}}</p>
        </div>
       
        {{>footer}}
    </body>
</html>