<!DOCTYPE html>
<html>
    <head>
 <link rel="stylesheet" href="./css/style.css"></head>
    </head>
<body>
    <div class="headerr">
        {{>header}}
    <h1>{{helpmsg}}</h1>
    </div>
    
    {{>footer}}
</body>
    </html>